*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
body{
    text-align: center;
    background-color: rgb(223, 209, 236);
}
h1{
    font-size: 34px;
}
#form{
    padding: 10px 30px;
    margin: 5px 20px;
    border: 2px dotted purple;

    display: flex;
    justify-content: space-around;
}
#result{
    padding: 10px 30px;
    margin: 5px 20px;
    border: 2px dotted purple;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#film{
    padding: 10px 30px;
    margin: 5px 20px;
    border: 2px dotted purple;
    position: static;
    box-shadow: 0 4px 6px rgba(95, 20, 91, 0.1);

}
#details {
    width: 150px;

    user-select: none;
    cursor: pointer;
}
#detailsFilm{
    padding: 10px 30px;;
    margin: 5px 20px;
    border: 2px dotted purple;
}